// 背景颜色
$lightBackgroudColor: #E4EFFF;
$backgroudColor: #6260E1;
$grayBackgroundColor: #CECECE;
$lightGrayBackgroundColor: #F7F7F7;

// 字体颜色
$textColor: #2C2128;
$gray: #CECECE;
$lightGray: #F0F1F4;
$white: white;
$black: black;
$red: red;

// 一些长度
$bannerHeight: 8vh;